.btn-taocauhoi {
  background-color: #004fa0;
  border-radius: 100px;
  color: #ffffff;
  width: 177px;
  height: 48px;
}

.btn-taocauhoi:hover {
  background-color: #ea8823;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 79, 160, 0.5);
}

@media (max-width: 576px) {
  .btn-taocauhoi {
    width: 100%;
    height: 48px;
  }
}

.hoi-dap .pagination {
  gap: 5px;
}

.hoi-dap.page-link.circle-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
  border: 1px solid #efefef;
  color: #666;
  text-decoration: none;
  background: white;
}

.hoi-dap.page-item.active .circle-link {
  background-color: #004fa0;
  border-color: #004fa0;
  color: white;
}
/**/
.hoi-dap .icon-arrow {
  color: #004fa0 !important;
  border: none !important;
  background: none !important;
}

.cauhoi-text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.row-description-hoidap {
  border-bottom: 1px solid #4e80b3;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.row-description-hoidap-ngaygui,
.row-description-hoidap-ngaytraloi {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .row-description-hoidap-ngaygui {
    border-bottom: 1px solid #4e80b3;
  }
  .traloi-faq-content {
    border-left: none !important;
    padding-left: 0px !important;
  }
}
@media (min-width: 992px) {
  .row-description-hoidap .col-lg-11 {
    padding-left: 6.5%;
  }
}

.tieude-hoidap {
  color: #151414;
  text-decoration: none;
}

.tieude-hoidap:hover {
  text-decoration: underline;
  color: #ea8823;
}

/*câu hỏi thường gặp*/
.faq-content {
  background-color: #f7f9fc;
  border-radius: 12px 12px 0px 0px;
}

.traloi-faq-content {
  border-left: 3px solid #004fa0;
  padding-left: 20px;
}
